<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">		
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, shrink-to-fit=9">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>{{.title}}</title>
		
		<!-- Favicon Icon -->
		
        <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon">		
		<!-- Stylesheets -->
		<link href='https://fonts.googleapis.com/css?family=Roboto:400,700,500' rel='stylesheet'>
		<link href='/static/vendor/unicons-2.0.1/css/unicons.css' rel='stylesheet'>
		<link href="/static/css/vertical-responsive-menu.min.css" rel="stylesheet">
		<link href="/static/css/style.css" rel="stylesheet">
		<link href="/static/css/responsive.css" rel="stylesheet">
		<link href="/static/css/night-mode.css" rel="stylesheet">
		
		<!-- Vendor Stylesheets -->
		<link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
		<link href="/static/vendor/OwlCarousel/assets/owl.carousel.css" rel="stylesheet">
		<link href="/static/vendor/OwlCarousel/assets/owl.theme.default.min.css" rel="stylesheet">
		<link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/static/vendor/semantic/semantic.min.css">	
		
	</head> 
	<!-- Header Start -->
	<header class=" clearfix">

	</header>
	<!-- Header End --> 
    <body>
	<div class="wrapper  _bg4586 _new89">
        
      
                <div class="container mb-4 mt-4">
                    <div class="row">
                        <img src="/static/images/logo.png" width="300" alt="Форт Риф" class="rounded mx-auto d-block">
                    </div>    
                        <div class="mt-4">

                                <p>Форт «РИФ» включен в список всемирного наследия ЮНЕСКО как памятник фортификационного искусства мирового значения и на сегодняшний день является одним из самых интересных фортов Кронштадтской крепости на западной оконечности острова Котлин.</p>
                                <p>Первые упоминания объекта относятся к началу 18 века, связаны с попыткой высадки шведского десанта для захвата Санкт-Петербурга и началом строительства укреплений, получивших название Кронштадская крепость.</p>
                                <p>В конце 19 века место стало местом для испытаний нового материала для строительства укреплений и крепостей на территории Российского государства и на протяжении более 20 лет служило опытным полигоном.</p>
                                <p>На базе созданных построек был построен Форт береговой Риф, который являлся военным объектом до 2014 года.
                                    Благодаря сохранившимся историческим объектам и архитектуре форт представляет большой интерес для изучающих историю и фортификацию.</p>		
                            
                        </div>

                        
                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">						
                            <div class="course_tabs">
                                <nav>
                                    <div class="nav nav-tabs tab_crse mytab justify-content-center">
                                        <a class="nav-item nav-link active" data-tab="1" href="">Ветер</a>
                                        <a class="nav-item nav-link" href="" data-tab="2">Уровень</a>
                                        <a class="nav-item nav-link" href="" data-tab="3">Карта глубин</a>
        
                                    </div>
                                </nav>						
                            </div>
                            <div class="title129 mt-35 mb-35">	
                                <h2></h2>
                            </div>
                        </div>
                    </div>
                </div>                        

                <div class="container tabs tab2 d-none">
                    <div class="row mb-4">

                            
                                <div id="levels" data-points="2" style="width:100%;height: 400px;"></div>
                           
                        
                    </div>
                </div>	

                <div class="container tabs tab1">
                    <div class="row mb-4">

                                <div id="wind" data-points="2" style="width:100%;height: 400px;"></div>
                        
                    </div>
                </div>					

                <div class="container tabs tab3 d-none">
                    <div class="row mb-2">
                        <div class="col-md-6">
                            <div class="title484">
                                <h2>Карта глубин</h2>
                                <img class="line-title" src="/static/images/line.svg" alt="">
                                <p>Минимальный текст описание.</p>		
											
									
									
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="story125">
								<p><a href="/static/images/deeps/{{.znak}}{{.deep}}.jpg"><img src="/static/images/deeps/{{.znak}}{{.deep}}.jpg" width="350" title="Карта глубин"></a></p>
                            </div>
                        </div>
                        
                    </div>
                </div>		
				
				
    </div>  
	
	<footer class="footer">
		<div class="container">
			<div class="row">
                <div class="col-lg-12">
                    <div class="footer_bottm">
                        <div class="row">
                            <div class="col-md-12">
                                <ul class="fotb_left">
                                    <li>
                                        <p>© 2020 <strong>Moris</strong>. All Rights Reserved.</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>                
			</div>
		</div>
	</footer>	
    </body>
    	<!-- Body End -->

	<script src="/static/js/jquery-3.3.1.min.js"></script>
	
	<script src="/static/js/night-mode.js"></script>	
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/windbarb.js"></script>
	<script src="https://code.highcharts.com/modules/annotations.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
	<script src="https://code.highcharts.com/modules/export-data.js"></script>
	<script src="https://code.highcharts.com/modules/accessibility.js"></script>	
    <script src="/static/js/graph.js"></script>    
    <script src="/static/js/wind.js"></script>      
    <script src="/static/js/scripts.js"></script>    

<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
    m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
 
    ym(83873362, "init", {
         clickmap:true,
         trackLinks:true,
         accurateTrackBounce:true
    });
 </script>
 <noscript><div><img src="https://mc.yandex.ru/watch/83873362" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
 <!-- /Yandex.Metrika counter -->    
</body>
</html>    